{% extends 'base.html' %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% if option == 'edit' %}
        <input type="hidden"  value="{{id}}" name="id" id="id_id" />
    {% endif %}
    <div class="form-group">
        <label for="{{ form.name.id_for_label }}">Name</label>
        {{ form.name }}
    </div>
    <div class="form-group">
        <label for="{{ form.countries.id_for_label }}">Country</label>
        {{ form.countries }}
    </div>
    <div class="form-group">
        <label for="{{ form.city.id_for_label }}">City</label>
        {{ form.city }}
    </div>
    <div class="form-group">
        <label for="{{ form.website.id_for_label }}">Website</label>
        {{ form.website }}
    </div>
    <div class="form-group">
        <label for="{{ form.address.id_for_label }}">Address</label>
        {{ form.address }}
    </div>
    {% if option == 'edit' %}
        <button type="submit" class="btn btn-warning"  formaction="/company/{{id}}/edit/">Edit Company</button>
    {% endif %}
    {% if option == 'create' %}
    <button type="submit" formaction="/company/create/" class="btn btn-success">Save Company</button>
    {% endif %}
  </form>
{% endblock %}